.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  cursor: pointer;
  padding-left: unset;
}

.sideContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  cursor: pointer;
}
